<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if(products.length){ %>

      <table border="5" style="margin: 3rem auto">
        <thead>
          <th style="padding: 10px" colspan="6">Title</th>
          <th style="padding: 10px">Qty</th>
          <th style="padding: 10px">Action</th>
        </thead>
        <% products.forEach(p =>{ %>
        <tbody>
          <tr>
            <td style="padding: 10px" colspan="6"><%= p.productId.title %></td>
            <td style="padding: 10px">(<%= p.quantity %>)</td>
            <td style="padding: 10px; text-align: center">
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="id" value="<%= p.productId._id %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-delete">Delete</button>
              </form>
            </td>
          </tr>
        </tbody>
        <% }) %>
      </table>
      <hr />
      <!-- place order -->
      <div class="centered">
        <form action="/create-order" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn">Order Now</button>
        </form>
      </div>

      <% }else{ %>
      <h1>No Products in Cart</h1>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
